<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Impute Missing Values**

Estimated time needed: **30** minutes

In this lab, you will practice essential data wrangling techniques using the Stack Overflow survey dataset. The primary focus is on handling missing data and ensuring data quality. You will:

- **Load the Data:** Import the dataset into a DataFrame using the pandas library.

- **Clean the Data:** Identify and remove duplicate entries to maintain data integrity.

- **Handle Missing Values:** Detect missing values, impute them with appropriate strategies, and verify the imputation to create a complete and reliable dataset for analysis.

This lab equips you with the skills to effectively preprocess and clean real-world datasets, a crucial step in any data analysis project.

## Objectives

In this lab, you will perform the following:

-   Identify missing values in the dataset.

-   Apply techniques to impute missing values in the dataset.
  
-   Use suitable techniques to normalize data in the dataset.

-----

#### Install needed library

In [ ]:
!pip install pandas

### Step 1: Import Required Libraries

In [1]:
import pandas as pd

### Step 2: Load the Dataset Into a Dataframe

#### **Read Data**
<p>
The functions below will download the dataset into your browser:
</p>

In [2]:
file_path = r"C:\Users\21650\Downloads\survey_data.csv"
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

### Step 3. Finding and Removing Duplicates
##### Task 1: Identify duplicate rows in the dataset.

In [3]:
## Write your code here
cols = ["MainBranch", "Employment", "RemoteWork","Country", "YearsCode", "DevType","CompTotal","WorkExp","EdLevel"]
df_dup=df[df.duplicated(subset=cols)]
print(f"There are {len(df_dup)} duplicated rows.")

There are 7240 duplicated rows.

##### Task 2: Remove the duplicate rows from the dataframe.

In [8]:
## Write your code here
df.drop_duplicates(subset=cols,keep='first',inplace=True)

### Step 4: Finding Missing Values
##### Task 3: Find the missing values for all columns.

In [14]:
## Write your code here
print(df.isna().sum().sort_values(ascending=False))

AINextMuch less integrated    57141
AINextLess integrated         56057
AINextNo change               46377
AINextMuch more integrated    45533
EmbeddedAdmired               42466
                              ...
MainBranch                        0
Age                               0
Employment                        0
Check                             0
ResponseId                        0
Length: 114, dtype: int64

##### Task 4: Find out how many rows are missing in the column RemoteWork.

In [20]:
## Write your code here
col="RemoteWork"
print(f"There are {df[col].isna().sum()} missing values in the {col} column.")

There are 8052 missing values in the RemoteWork column.

### Step 5. Imputing Missing Values
##### Task 5: Find the value counts for the column RemoteWork.

In [ ]:
## Write your code here
df[col].value_counts().reset_index()

                             RemoteWork  count
0  Hybrid (some remote, some in-person)  21110
1                                Remote  19362
2                             In-person   9673

##### Task 6: Identify the most frequent (majority) value in the RemoteWork column.

In [23]:
## Write your code here
freq_entry=df[col].value_counts().idxmax()
print(freq_entry)

Hybrid (some remote, some in-person)

##### Task 7: Impute (replace) all the empty rows in the column RemoteWork with the majority value.

In [24]:
## Write your code here
df[col].fillna(freq_entry,inplace=True)

##### Task 8: Check for any compensation-related columns and describe their distribution.

In [25]:
## Write your code here
comp_cols=["ConvertedCompYearly","CompTotal"]
df[comp_cols].describe()

       ConvertedCompYearly      CompTotal
count         2.338700e+04   3.363600e+04
mean          8.613105e+04  2.973005e+145
std           1.869297e+05  5.452527e+147
min           1.000000e+00   0.000000e+00
25%           3.269600e+04   6.000000e+04
50%           6.500000e+04   1.100000e+05
75%           1.079370e+05   2.500000e+05
max           1.625660e+07  1.000000e+150

### Summary

**In this lab, you focused on imputing missing values in the dataset.**

- Use the <code>pandas.read_csv()</code> function to load a dataset from a CSV file into a DataFrame.

- Download the dataset if it's not available online and specify the correct file path.

<!--
## Change Log
|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.3|Madhusudhan Moole|Updated lab|
|2024-10-29|1.2|Madhusudhan Moole|Updated lab|
|2024-09-27|1.1|Madhusudhan Moole|Updated lab|
|2024-09-26|1.0|Raghul Ramesh|Created lab|
--!>

Copyright © IBM Corporation. All rights reserved.